.About{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important; 
    padding: 0 0 0 90px;
    /* height: 100vh; */
    /* padding-bottom: 140px; */
    /* margin-top: 50px; */
}

.About .AboutContent{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}


.About .AboutContent h6{
    font-size: 17px;
    font-weight: normal;
}

.About .AboutContent h1{
    font-size: 50px;
    line-height: 1;
    letter-spacing: 1.1px;
}

.About .AboutContent h1 span{
    color: #219ebc;
}

.About .AboutContent p{
    color: rgba(255, 255, 255, 0.6);
    margin: 30px 0 40px;
    width: 55%;
    letter-spacing: 1.2px;
}

.About .AboutContent button{
    min-width: 20%;
}


@media screen and (max-width:900px){
    .About .AboutContent p{
        width: 550px;
    }
}

@media screen and (max-width:750px){
    .About .AboutContent p{
        width: 450px;
    }
}
@media screen and (max-width:600px){
    .About .AboutContent h1{
        font-size: 35px;
    }
    .About .AboutContent p{
        font-size: 15px;
        letter-spacing: 0;
        width: 350px;
    }
    .About .AboutContent h6{
        font-size: 14px;
    }
    .About .AboutContent{
        margin-bottom: 80px;
    }
}
@media screen and (max-width:500px){
    .About .AboutContent h1{
        font-size: 30px;
    }
    .About .AboutContent p{
        font-size: 12px;
        width: 300px;
    }
}
@media screen and (max-width:450px){
    .About{
        padding-left: 60px;
    }
    .About .AboutContent p{
        width: 250px;
    }
}
@media screen and (max-width:380px){
    .About{
        padding-left: 40px;
    }
    .About .AboutContent p{
        width: 250px;
    }
}

