.Footer{
    height: 70px;
    background: #0d3b66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer p{
    font-size: 18px;
}

@media screen and (max-width:360px){
    .Footer p{
        font-size: 15px;
    }
}
@media screen and (max-width:280px){
    .Footer p{
        font-size: 13px;
    }
}