.Work {
    background: #0d3b66;
    /* height: max-content; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap: 50px;
    /* padding-bottom: 150px; */
    padding-bottom: 80px;
  }


.Work .Card{
    height: auto;
    margin: auto;
    border-radius: 10px;
    width: 100%;
  }
  
  .Work img {
    width: 100%;
    border-radius: 10px;
    transition-duration: 0.3s;
  }

  